<div class="pixel-logo">
  <div class="pixel-row">
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
  </div>
  <div class="pixel-row">
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
  </div>
  <div class="pixel-row">
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
  </div>
  <div class="pixel-row">
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
  </div>
  <div class="pixel-row">
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
  </div>
  <div class="pixel-row">
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
  </div>
  <div class="pixel-row">
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
  </div>
  <div class="pixel-row">
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
  </div>
  <div class="pixel-row">
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
  </div>
  <div class="pixel-row">
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
  </div>
  <div class="pixel-row">
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
  </div>
  <div class="pixel-row">
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
  </div>
  <div class="pixel-row">
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-1"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
    <div class="p-0"></div>
  </div>
</div>
